 <ul class="nav nav nav-tabs">
    <li class="nav-item" style="width: 33.33%;text-align: center">
      <a class="nav-link" routerLinkActive="active" routerLink="security">Security</a>
    </li>
    <li class="nav-item" style="width: 33.33%;text-align: center">
      <a class="nav-link" routerLinkActive="active" routerLink="users">Users</a>
    </li>
    <li class="nav-item" style="width: 33.33%;text-align: center">
      <a class="nav-link" routerLinkActive="active" routerLink="groups">Groups</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
